APP_BASE_URL=http://your-server-ip-or-domain:8000


MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=


GENETICS_API_BASE=https://integration.andrsn.in
GENETICS_API_USERNAME=
GENETICS_API_PASSWORD=